body {
  background-color: #60311b;
  text-align: center;
  font-family: Poiret One;
  font-size: 32px;
  font-weight: bold;
   letter-spacing: .04em;
}

.search-section {
  color: white;
  margin-top: 60px;
}

a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
  outline: 0;
}

#search {
  background-color: #60311b;
  border: 0;
  padding: 12px;
 }

#close {
  background-color: #60311b;
  border: 0;
  font-size: 110%;
  padding-left: 15px;
}

#input {
  border-radius: 8px;
  color: black;
  width: 80%;
  margin: 12px auto 0px auto;
  display: block;
}

.result-box {
  background-color: white;
/*   color: #c00; */
  color: darkred;
  padding: 15px 25px 25px 25px;
  box-shadow: 0px 3px 3px 2px black;
  margin: 25px auto;
  overflow: hidden;
  border-radius: 3px;
  font-size: 65%;
  font-family: Raleway;
  width: 95%;
}

.result-box a {
  font-size: 90%;
  font-style: italic;
}

.result-box h2 {
  font-weight: bold;
}

@media only screen and (min-width: 568px) {
  .search-section {
    margin-top: 80px;
   }
  .result-box {
    width: 80%;
  }
}
  
  @media only screen and (min-width: 768px) {
    #input {
      display: inline;
      width: 30%;
    }
    #icons {
      display: inline;
    }
    #search {
      margin: 12px 0px;
    }
    #close {
      padding-left: 0px;
    }
    .result-box {
      width: 60%;
    }
  }
